Arquivos-Serializados/album.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Album" nillable="true" type="Album" />
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nome" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Musicas" type="ArrayOfMusica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMusica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Musica" nillable="true" type="Musica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Musica">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nome" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Duracao" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>