Arquivos-Serializados/usuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Usuario" nillable="true" type="Usuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nome" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>